
.nLink{
    align-self: center;
    margin-left:27px;
    margin-right:27px;
}

.Na{
    justify-content: flex-start; 
    
}

.ima{
    align-self: flex-start;
    width:160px;
    height:24px;
    margin-left: 3%;
    margin-top: 10px;
}

.N{
    margin-left: 127px;
    justify-content: space-between;
    width: 500px;
    font-size: 18px;
    font-family:Cairo ;

}
.cp{
    color: black;
    font-size: 12px;
    margin-left: 60px;
    margin-bottom: 4px;
}