@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
.nLink{
    align-self: center;
    margin-left:27px;
    margin-right:27px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    opacity: 1;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}
.Na{
    display: flex;
    justify-content: center;
    margin-left: 55px;
    margin-right: 521px;
}

.ima{
    align-self: flex-start;
    width:160px;
    height:24px;
    margin-left: 3%;
    margin-top: 10px;
}

.N{
    margin-left: 127px;
    justify-content: space-between;
    width: 500px;
    font-family: 'Cairo', sans-serif;
}
.cp{
    color: black;
    font-size: 12px;
    margin-left: 60px;
    margin-bottom: 4px;
    width: 148px;
}