.info-sec {
    width: 70%;
    color: #8c8c8c;
    line-height: 3;
    font-size: 15px;
    font-family: 'Cairo';
}

.about-bg-image {
    width: 80%;
    position: absolute;
    right: 10%;
    left: 10%;
    top: -15%;
}

.about-us-home {
    margin-top: 3em;
}

.about-us-home-button {
    margin-top: 2em;
    width: 9em;
    height: 3em;
    border-radius: 0;
    background-color: green;
}

.about-us-home-word {
    /* make capital */
    text-transform: uppercase;
    color: green;
    font-family: 'Cairo';
    /* make semi bold */
    font-weight: 600;
}

.about-us-home-title {
    font-family: 'Cairo';
}

.semi-circle-home {
    position: absolute;
    right: 0;
    top: -30%;
}


.about-us-home-section {
    position: relative;
    left: 15%;
}

.about-home-section {
    position: relative;
}

.semi-circle-home-left {
    position: absolute;
    left: 0;
    top: -30%;
}

.about-us-home-right-section {
    position: relative;
}

.weird-image-right-about-us-home {
    position: absolute;
    left: 40%;
    top: 10%;
}

.old-people-right-about-us-home {
    position: absolute;
    z-index: 10000;
    left: 13%;
    width: 40%;
}

.green-rect-right-about-us-home {
    position: absolute;
    z-index: 50;
    top: -10%;
    left: 5%;
}