.services-word {
    text-align: center;
}
.services-description {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.services-cards {
    width: 100%;
    margin: 0 auto;
}

.card-services {
    margin: 0 auto;
    width: 100%;
}

.service-row {
    margin: 0 auto;
}