.Nb{
    z-index: 10000;
    margin-top: 59px;

}

.Navbar.Brand{
    margin-left: 2%;
}

body{
    background-color: #777;
}

.nava{
    margin-right: 74px;
}
#basic-nav-dropdown{
    color: white;
}