@import url(//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

.container-explore-card {
    position: absolute;
    top: 20%;
    left: 20%;
    display: block;
    margin: 0 auto;
    width: 60%;
}

.what-features {
    font-family: "Circular Std Medium";
    font-size: 48px;
    margin-top: 1em;
}

.under-what-features {
    font-family: "Circular Std Book";
    color: #57667E;
    font-size: 22px;
}

.under-under-what-features {
    font-family: "Circular Std Book";
    color: #8C929D;
    /* Line spacing */
    line-height: 2;
}

.explore-more-home-button {
    background-color: #f9be1c7c;
    border-radius: 0;
    color: #F9BE1C;
    font-size: 1em;
    width: 10em;
    height: 3em;
    margin-top: 1em;
    border: 0;
}

.explore-more-home-button:hover {
    border-radius: 0;
    color: white;
    margin-top: 1em;
    border: 0;
}